.name {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  color: red;
}

.page_title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
}

.position {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  font-weight: lighter;
}
