.container {
  display: grid;
  grid-template-columns: 45rem auto auto;
  grid-gap: 1rem;
  grid-auto-flow: row;
  margin-left: 10px;
  margin-right: 10px;
}

.blocks {
  border: royalblue solid 4px;
  border-radius: 10px;
  animation-name: pulse;
}

.blocks:hover {
  background-color: lightskyblue;
}
